<mat-form-field class="width-100" [formGroup]="personalInfoFormGroup">
  <mat-select formControlName="referralSource" (selectionChange)="onReferralSourceChanged()">
    <mat-option *ngFor="let source of referralSources" [value]="source.key">
      {{source.label}}
    </mat-option>
  </mat-select>
  <mat-error>
    Por favor elige quién te recomendó
  </mat-error>
</mat-form-field>

<div *ngIf="rootReferralHierarchy">
  <referral-hierarchy [formGroup]="personalInfoFormGroup" [hierarchy]="rootReferralHierarchy"></referral-hierarchy>
</div>